canvas {
    border: 1px solid black;
    background-color: #eee;
}

#score {
    position: absolute;
    top: 10px;
    left: 10px;
}

#topScores, #worstScores {
    position: absolute;
    top: 50px;
    left: 10px;
}
